<%# coding: UTF-8 %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="<%= config[:path] %>/_public/css/plugin.asmselect.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="<%= config[:path] %>/_public/css/ui-darkness/jquery-ui-1.8.17.custom.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="<%= config[:path] %>/_public/css/main.css" type="text/css" media="screen" charset="utf-8" />
  <title><%= config[:client_name] %> - Admin</title>
  <script id='template-menu' type='text/html'>
    <ul class='menu-list'>
      {{#items}}
        <li><a href='{{href}}' class='pushstack'>{{title}}</a></li>
      {{/items}}
    </ul>
  </script>
  <script id='template-nut-tree' type='text/html'>
    {{#command_plus}}
      <a href='<%= config[:path] %>/form/{{class_name}}{{query_string}}' class='btn plus-btn extra-plus pushstack'></a>
    {{/command_plus}}
    <ul class='nut-tree {{#sortable}}sortable{{/sortable}}'>
      {{#items}}{{>nutshell}}{{/items}}
    </ul>
  </script>
  <script id='template-nutshell' type='text/html'>
    <li class='nutshell nutshell-{{class_name}}' id='{{class_name}}-{{id}}'>
      <div class='nutshell-core'>
        <div class='nutshell-bar {{#sortable}}sortable-handle{{/sortable}}'>
          
          <a href='<%= config[:path] %>/{{class_name}}/{{id}}' class='btn cross-btn nutshell-delete float-right'></a>
        </div>
        <a href='<%= config[:path] %>/form/{{class_name}}/{{id}}' class='nutshell-edit pushstack'>
          {{#thumb}}<img src='{{thumb}}' onerror="this.style.display='none'" />{{/thumb}}
          {{^thumb}}<img src='/admin/_public/img/placeholder.png' onerror="this.style.display='none'" />{{/thumb}}
          &nbsp;<span class='nutshell-title'>{{title}}</span>
        </a>
        <div class='nutshell-bottom'></div>
      </div>
      <ul class='nutshell-children'>
        {{#children}}
          <li><a href='<%= config[:path] %>/list/{{children_class_name}}?filter[{{foreign_key_name}}]={{id}}' class='btn further-btn further-bar pushstack'>{{title}} {{count}}</a></li>
        {{/children}}
      </ul>
    </li>
  </script>
</head>
<body>
  <div id='trunk'>
    <h1 id='page-title' class='shadowed'><%= config[:page_title] %></h1>
    <div id='header' class='shadowed'>
      <a href='#' class='btn back-btn float-left popstack'></a>
      <a href='<%= config[:path] %>' class='btn home-btn float-right'></a>
      <div id='search-wrap'><input type='text' id='search' placeholder='Search' /></div>
    </div>
    <noscript><div>In order to have this content management system working, you need to have javascript enabled.</div></noscript>
    <div id='content'></div>
    <div id='footer'>
      &copy; Mickaël Riga<br>
      <a href='https://github.com/mig-hub/rack-populate'>Rack Populate</a> is an open source project
    </div>
  </div>
  <script type="text/javascript" charset="utf-8">
    var admin_path = "<%= config[:path] %>";
  </script>
  <!-- // <script src='http://code.jquery.com/jquery-1.6.2.min.js' type='text/javascript'></script> -->
  <script src='<%= config[:path] %>/_public/js/jquery.js' type='text/javascript'></script>
  <script src='<%= config[:path] %>/_public/js/jquery.mustache.js' type='text/javascript'></script>
  <script src='<%= config[:path] %>/_public/js/jquery-ui.js' type='text/javascript'></script>
  <script src='<%= config[:path] %>/_public/js/addon.timepicker.js' type='text/javascript'></script>
  <script src='<%= config[:path] %>/_public/js/plugin.form.js' type='text/javascript'></script>
  <script src='<%= config[:path] %>/_public/js/plugin.underwood.js' type='text/javascript'></script>
  <script src='<%= config[:path] %>/_public/js/plugin.asmselect.js' type='text/javascript'></script>
  <script src='<%= config[:path] %>/_public/js/plugin.quicksearch.js' type='text/javascript'></script>
  <script src='<%= config[:path] %>/_public/js/main.js' type='text/javascript'></script>
</body>
</html>

