<div class='text-page'>

<h1>Help</h1>

<h2>Overview</h2>

<p>The screen is divided in columns and expands on the right as you go further down the hierarchy, a little bit like a file explorer. </p>

<%= help_img 'Overview', 'overview.png' %>

<p>The very first column displays your login name (e.g. admin). At the bottom you have a "Logout" button so that you can securely finish your working session.</p>

<%= help_img 'Logout', 'logout.png' %>

<p>And then the second column is your starting point which represents as close as possible the sections of your website.</p>

<%= help_img 'Menu', 'menu.png' %>

<p>The item you've selected is always blue in order to show you the path you've been through, again like a file explorer.</p>

<%= help_img 'Subist', 'sublist.png' %>

<h2>List pages</h2>

<p>When you have reached a column like the last one on this image, it is a list page.</p>

<%= help_img 'List', 'list.png' %>

<p>This can be a list of blog articles, a list of images or a list of contact details. The presentation will always be similar. You will see a relevant title, a relevant image (if there is one), and buttons for actions.If you click the title of the item you'll be able to edit the information of this item.</p>

<%= help_img 'Edit', 'edit.png' %>

<p>The "delete" button allows you to delete the item.</p>

<%= help_img 'Delete', 'delete.png' %>

<p>While being irreversible and potentially dangerous, the Bureau will warn you and give you the opportunity to cancel before proceeding.</p>

<p>When you rollover the top of the item, your cursor will turn into a hand which is a clue that you can re-order the items by drag-and-drop.</p>

<%= help_img 'Sort', 'sort.png' %>

<p>Sometimes this hand does not appear, it means that the items cannot be sorted manually, generally because they are sorted automatically, alphabetically or by date for example.</p>

<p>When you want to create a new item, you can click the "plus" button.</p>

<%= help_img 'Create', 'create.png' %>

<p>Items will sometimes have other items attached to them. For example a blog article can have a list of images or an artist can have a list of social medias. These are called relationships.</p>

<p>When this is the case, you will have links for each relationship at the bottom of the items and when you click on them, the system will bring you to another list column which follows the same structure.</p>

<%= help_img 'Children', 'children.png' %>

<h2>Form</h2>

<p>Once you get to finally edit or create something, the page will be a form like the example below.</p>

<%= help_img 'Form', 'form.png' %>

<p>This page will probably be quite familiar to you. Field names within forms are meant to be as explicit as possible. For example they also include ideal image dimensions.</p>

<p>Press "Save"/"Update" when you are finished editing the item.</p>

<%= help_img 'Save', 'save.png' %>

<h2>Image specifications</h2>

<p>All images on the website should be exported for web in one of the following formats:</p>

<p>&mdash; Jpeg<br/>&mdash; PNG (if it requires transparancy)<br/>&mdash; SVG (for logos and anything vector-based)<br/>&mdash; Gif (not recommended unless a short animation is required)</p>

<p>You will not be able to upload images above a predifined maximum, usually 1MB. Typically most images saved for web can be compressed down to a file size between 150KB and 500KB.</p>

<h2>Text formating</h2>

<p>On most text fields, you can add links or make text bold or italic with a simple markup called <a href='https://en.wikipedia.org/wiki/Markdown' target='_blank'>markdown</a>. Here is an example of what you can do:</p>

<div class='frame'>
<p>Markdown is good for *making things look italic* or **making things look bold**. Your can also create links [like this which links to Google](https://www.google.com). Although if you write a URL or an email address, you don't have to do anything because it will be turned into a link automatically anyway.</p> 
</div>

<p>Which will be rendered like this:</p>

<div class='frame'>
  <p>Markdown is good for <em>making things look italic</em> or <strong>making things look bold</strong>. Your can also create links <a href="https://www.google.com" target='_blank'>like this which links to Google</a>. Although if you write a URL or an email address, you don't have to do anything because it will be turned into a link automatically anyway.</p> 
</div>

<p><em>*Surrounding with stars makes text italic*</em><br><strong>**Surrounding text with double stars makes it bold**</strong><br>Links look like: [<a href='javascript:void(0);'>text to link</a>](http://website.com)</p>

<p>It should be self explanatory but you can do much more with markdown. If you are interrested, we encourage you to read the <a href='https://daringfireball.net/projects/markdown/syntax' target='_blank'>full documentation</a>.</p>

</div>

