<%# encoding: utf-8 %>
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= settings.meta_title %></title>
    <link href="<%= request.script_name %>/__assets__/img/favicon.png" rel="icon" type="image/png">
    <link rel="stylesheet" href="<%= request.script_name %>/__assets__/css/jquery-ui.min.css" type="text/css" media='screen' />
    <link rel="stylesheet" href="<%= request.script_name %>/__assets__/css/asmselect.css" type="text/css" media='screen' />
    <link rel="stylesheet" href="<%= request.script_name %>/__assets__/css/easymde.min.css" type="text/css" media='screen' />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= request.script_name %>/__assets__/css/main.css" type="text/css" media='screen' />
    <% if settings.respond_to? :custom_css_url %>
      <link rel="stylesheet" href="<%= settings.custom_css_url %>" type="text/css" media='screen' />
    <% end %>
  </head>
  <body>

    <ol id='finder'><li class='column'>
      <h1>Welcome<br><%= label_for_field user_name %></h1>
      <% if settings.logout_path? %>
        <p><a href="<%= request.script_name %><%= settings.logout_path %>">Logout</a></p>
      <% end %>
      <footer class='main-footer'>
        Populate Me is Content Managment System for premium design-led websites coded by <a href="https://www.rive.studio" target="_blank">Rive Studio</a>.<br/>&copy; <%= Time.now.year %> Mickaël Riga
      </footer>
    </li></ol>

    <!-- Templates -->

    <script id="template-menu" type="x-tmpl-mustache">
      <h1>{{page_title}}</h1>
      <ol class='menu'>
        {{#items}}
          <li><a href="{{href}}" {{#new_page}}target='_blank'{{/new_page}}{{^new_page}}class='column-push'{{/new_page}} title='Open'>{{title}}</a></li>
        {{/items}}
      </ol>
    </script>

    <script id="template-list" type="x-tmpl-mustache">
      <h1>
        {{page_title}}
      </h1>
      {{^disable_plus}}
        <p class='new-document-btn-wrap'>
          {{#is_polymorphic}}
            <select class='polymorphic_type_values'>
              {{#polymorphic_type_values}}
                <option value='{{.}}'>{{.}}</option>
              {{/polymorphic_type_values}}
            </select>
            &nbsp;
          {{/is_polymorphic}}
          <a href="<%= request.script_name %>/form/{{dasherized_class_name}}{{#new_data}}?{{new_data}}{{/new_data}}" class='column-push new-document-btn' title='Create'>+</a>
        </p>
      {{/disable_plus}}
      {{^disable_search}}
        <form class='form-search-items'>
          <input type='text' class='search-items' placeholder='Search'>
        </form>
      {{/disable_search}}
      <ol class='documents {{#grid_view}}grid{{/grid_view}}' data-sort-field='{{sort_field}}' data-sort-url='<%= request.script_name %>/api/{{dasherized_class_name}}'>
        {{#items}}{{#custom_partial_or_default}}template_document{{/custom_partial_or_default}}{{/items}}
      </ol>
    </script>

    <script id="template-document" type="x-tmpl-mustache">
      <li class='admin-list-item' data-id='{{id}}'>
        <div class="{{#sort_field}}handle{{/sort_field}}" title='{{#sort_field}}Drag and drop{{/sort_field}}'>
          <header>
            <button type='button' class='admin-delete' title='Delete' value='<%= request.script_name %>/api/{{admin_url}}'>&times;</button>
          </header>
          <a href="<%= request.script_name %>/form/{{admin_url}}" class='column-push' title='Edit'>
            <span class='item-title'>{{title}}</span>
            {{#image_url}}
              <br />
              <img src='{{image_url}}{{cache_buster}}' alt='{{title}}' width='300' />
            {{/image_url}}
          </a>
          <ol class='local-menu'>
            {{#local_menu}}
              <li>&rarr; <a href="{{href}}" {{#new_page}}target='_blank'{{/new_page}}{{^new_page}}class='column-push'{{/new_page}} title='Open'>{{title}}</a></li>
            {{/local_menu}}
          </ol>
        </div>
      </li>
    </script>

    <script id="template-form" type="x-tmpl-mustache">
      <h1>{{page_title}}</h1>
      {{#polymorphic_type}}
        <p>({{polymorphic_type}})</p>
      {{/polymorphic_type}}
      <form action="<%= request.script_name %>/api/{{admin_url}}" method="POST" accept-charset="utf-8" class='admin-{{#is_new}}post{{/is_new}}{{^is_new}}put{{/is_new}}' {{#batch_field}}{{#is_new}}data-batch-field="{{batch_field}}"{{/is_new}}{{/batch_field}}>
        {{#custom_partial_or_default}}template_form_fields{{/custom_partial_or_default}}
        {{^is_new}}
          <input type="hidden" name="_method" value="PUT" />
        {{/is_new}}
        <input type="submit" value="{{#is_new}}Create{{/is_new}}{{^is_new}}Update{{/is_new}}" />
      </form>
    </script>

    <script id="template-nested-form" type="x-tmpl-mustache">
      <li>
        <header>
          <span class='handle handle-button' title='Drag and drop'>&#8597;</span><button type='button' class='admin-delete-nested' title='Delete'>&times;</button>
        </header>
        {{#custom_partial_or_default}}template_form_fields{{/custom_partial_or_default}}
      </li>
    </script>

    <script id="template-form-fields" type="x-tmpl-mustache">
      {{#fields}}
        {{>template_form_field}}
      {{/fields}}
    </script>

    <script id="template-form-field" type="x-tmpl-mustache">
      {{#wrap}}
        <div class='field' data-field-name='{{field_name}}'>
          <label>{{label}}</label>
          <br>
          {{#adapted_field}}{{/adapted_field}}
        </div>
      {{/wrap}}
      {{^wrap}}
        {{#adapted_field}}{{/adapted_field}}
      {{/wrap}}
    </script>

    <script id="template-string-field" type="x-tmpl-mustache">
      <input name='{{input_name}}' value='{{input_value}}' {{#required}}required{{/required}}{{{build_input_attributes}}} {{#autocomplete.length}}list='datalist-{{field_name}}'{{/autocomplete.length}} />
      {{#autocomplete.length}}
        <datalist id='datalist-{{field_name}}'>
          {{#autocomplete}}
            <option value='{{.}}' />
          {{/autocomplete}}
        </datalist>
      {{/autocomplete.length}}
    </script>

    <script id="template-lnglat-field" type="x-tmpl-mustache">
      <input class='lnglat-input' name='{{input_name}}' value='{{input_value}}' {{#required}}required{{/required}}{{{build_input_attributes}}} pattern="^[-+]?([0-9]*[.])?[0-9]+\s*,\s*[-+]?([0-9]*[.])?[0-9]+$" placeholder="Longitude, Latitude" />
    </script>

    <script id="template-text-field" type="x-tmpl-mustache">
      <textarea name='{{input_name}}' {{#required}}required{{/required}}{{#markdown}}data-markdown data-markdown-toolbar='{{markdown_toolbar}}'{{/markdown}}{{{build_input_attributes}}}>{{input_value}}</textarea>
    </script>

    <script id="template-boolean-field" type="x-tmpl-mustache">
      <select name='{{input_name}}' {{{build_input_attributes}}}>
        <option value='false' {{^input_value}}selected{{/input_value}}>No</option>
        <option value='true' {{#input_value}}selected{{/input_value}}>Yes</option>
      </select>
    </script>

    <script id="template-select-field" type="x-tmpl-mustache">
      {{#multiple}}
        <input type='hidden' name='{{input_name}}' value='nil' />
      {{/multiple}}
      <select name='{{input_name}}' {{#multiple}}multiple title='?'{{/multiple}}{{{build_input_attributes}}}>
        {{#select_options}}
          <option value='{{value}}' {{#selected}}selected{{/selected}} {{#preview_uri}}data-preview='{{preview_uri}}'{{/preview_uri}}>{{description}}</option>
        {{/select_options}}
      </select>
      <div class='preview-container'></div>
    </script>

    <script id="template-attachment-field" type="x-tmpl-mustache">
      {{#url}}
        <img src='{{url}}{{cache_buster}}' alt='Preview' width='150' onerror="this.src='<%= request.script_name %>/__assets__/img/file.png'; this.onerror=null;" />
        <button class='attachment-deleter'>x</button>
        <br />
      {{/url}}
      <input type='file' name='{{input_name}}' {{#multiple}}multiple{{/multiple}} {{#max_size}}data-max-size='{{max_size}}'{{/max_size}} {{{build_input_atrributes}}} />
    </script>

    <script id="template-list-field" type="x-tmpl-mustache">
      <fieldset class='field' data-field-name='{{field_name}}'>
        <legend>{{label}}</legend>
        {{#dasherized_class_name}}
          <p>
          <a href="<%= request.script_name %>/form/{{dasherized_class_name}}?input_name_prefix={{input_name}}[]&nested=true" class='new-nested-document-btn'>+</a>
          </p>
        {{/dasherized_class_name}}
        <ol class='nested-documents'>
          {{#items}}
            {{>template_nested_form}}
          {{/items}}
        </ol>
      </fieldset>
    </script>

    <% if settings.respond_to? :custom_templates_view %>
      <%= erb settings.custom_templates_view, layout: false %>
    <% end %>

    <!-- JS -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%= request.script_name %>/__assets__/js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%= request.script_name %>/__assets__/js/mustache.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%= request.script_name %>/__assets__/js/columnav.js" type="text/javascript" charset="utf-8"></script>
    <%# <script src="<%= request.script_name %1>/__assets__/js/sortable.js" type="text/javascript" charset="utf-8"></script> %>
    <script src="<%= request.script_name %>/__assets__/js/asmselect.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%= request.script_name %>/__assets__/js/easymde.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%= request.script_name %>/__assets__/js/quicksearch.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
    <script type="text/javascript">
      mapboxgl.accessToken = "pk.eyJ1IjoibWlja2FlbHJpZ2EiLCJhIjoiY2xsYXA3Y25lMWIxNzNlbzY0MW1hdm15ZCJ9.bBJwnlHVNkPyF-ZKA5J6Dg";
      window.admin_path = "<%= request.script_name %>";
      window.index_path = "<%= settings.index_path %>";
    </script>
    <script src="<%= request.script_name %>/__assets__/js/main.js" type="text/javascript" charset="utf-8"></script>
    <% if settings.respond_to? :custom_js_url %>
      <script src="<%= settings.custom_js_url %>" type="text/javascript" charset="utf-8"></script>
    <% end %>
  </body>
</html>

